body {
  width: 100%;
  height: 100vh;
  background-color:#1a0404;  
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;    
}
svg{
    width: 90%;
    height: 90%;
    visibility: hidden;
}
h1{
    font-size: 70px;
    color: red;
    text-shadow: 1px 3px 4px gray;
} 

div{
    width: 100px;
    margin: 0 auto ;
}
button{
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: green;
    cursor: pointer;
}
button:hover{
    transition: .6s ease;
    box-shadow: 3px 6px 5px red;
}